{% extends "base.html" %}

{% block content %}
<div class="form-container">
    <h1 class="page-title">내 물건 팔기</h1>
    
    <form action="{% url 'products:create' %}" method="POST" enctype="multipart/form-data" class="product-form">
        {% csrf_token %}
        {{ forms.as_p }}
        <p>
            <label for="id_hashtag">해시태그:</label>
            <input type="text" name="hashtag" placeholder=",로 구분하여 특수문자 없이 입력해주세요" maxlength="150" id="id_hashtag">
        </p>
        <div class="form-actions">
            <a class="btn btn-secondary" href="{% url 'index' %}">목록으로</a>
            <button type="submit" class="btn btn-primary">작성 완료</button>
        </div>
    </form>
</div>
{% endblock content %}