{% extends "base.html" %}

{% block content %}
<div class="product-list">
    {% for product in index %}
    <div class="product-item">
        {% if product.photo %}
        <div class="product-image" style="background-image: url({{ product.photo.url }});" onclick="location='{% url 'products:read' product.pk %}'">
            
        </div>
        {% endif %}
        <div class="product-title">
            <a href="{% url 'products:read' product.pk %}">{{ product.title }}</a>
            <span style="float: right;">찜{{ product.like_users.all|length }}</span>
            <span style="float: right;">뷰{{ product.cnt }}&nbsp;|&nbsp;</span>
            <p style="text-align: left;">
                {% for hash_name in product.hashtags.all %}
                    #<b>{{hash_name.name}}</b>&nbsp;
                {% endfor %}
            </p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}