{% extends "base.html" %}

{% block content %}
<div class="product-list">
    {% for product in index %}
    <div class="product-item">
        {% if product.photo %}
        <div class="product-image" style="background-image: url({{ product.photo.url }});" onclick="location='{% url 'products:read' product.pk %}'">
            
        </div>
        {% endif %}
        <div class="product-title">
            <a href="{% url 'products:read' product.pk %}">{{ product.title }}</a>
            <span style="float: right;">뷰{{ product.cnt }}</span>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}